<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<mat-toolbar color="primary" id="barra">
    <div id="imagen">
        <img src="../../assets/aaa.png">

    </div>
</mat-toolbar>

<body>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>INICIO DE SESION</mat-card-title>
        </mat-card-header>

        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Ingrese su Usuario</mat-label>
                <input matInput placeholder="USUARIO">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Ingrese su Contraseña</mat-label>

                <input type="password" id="btnVerificar" matInput placeholder="CONTRASEÑA">
            </mat-form-field>
        </form>
        <mat-card-actions>
            <button mat-button id="btnIngresar">INGRESAR</button>
        </mat-card-actions>
    </mat-card>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



</body>

</html>